.button {

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	transition: background-color 0.15s;
	cursor: pointer;

	&.defaultVariant {
		background-color: var(--color-interactive);
		border: var(--default-border);
		padding: 0.25rem 0.5rem;
		border-radius: var(--default-border-radius);
	}

	&.plainIconVariant {
		background-color: transparent;
		padding: 0.3rem;
		width: 1.7rem;
		height: 1.7rem;
		text-align: center;
		border-radius: var(--default-border-radius);
	}

	&.tabVariant {
		background-color: var(--color-interactive);
		border: var(--default-border);
		padding: 0.25rem 0.5rem;
		margin-top: 0.25rem;
		border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
		border-bottom: 0;
		transition: padding-bottom 0.15s linear, margin-top 0.15s linear, background-color 0.25s;

		&.isActive {
			padding-bottom: 0.5rem;
			margin-top: 0;
			background-color: var(--color-interactive-focus);
		}
	}

	&:focus, &:hover {
		background-color: var(--color-interactive-focus);
	}

	&:active {
		background-color: var(--color-interactive-active);
	}

	&[disabled]{
		background-color: var(--color-interactive-disabled);
		color: var(--color-font-disabled);
	}

	.icon {
		display: inline;
	}

	.text {
		font-size: 1rem;
	}
}