.button {

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.25rem;
	padding: 0.25rem 0.5rem;

	border: var(--default-border);
	border-radius: var(--default-border-radius);
	background-color: var(--color-interactive);
	transition: background-color 0.15s;
	cursor: pointer;

	&:focus {
		background-color: var(--color-interactive-focus);
	}

	&:active {
		background-color: var(--color-interactive-active);
	}

	&[disabled]{
		background-color: var(--color-interactive-disabled);
		color: var(--color-font-disabled);
	}

	.icon {
		display: inline;
	}

	.text {
		font-size: 1rem;
	}
}