.row, .col {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex: 0 0 auto;
	border: var(--default-border);
	border-width: 0;
}

.row {
	flex-direction: row;
}

.col {
	flex-direction: column;
}