.vanisher {
  flex: 1 1 auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;

  &.noStretch {
    align-self: auto;
  }

  &.vanishing {
    position: absolute;
    pointer-events: none;
  }
}
