.modelDisplay {
	flex: 1 1 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	overflow: hidden;
	user-select: none;
}

.emptyState {
	opacity: 0.25;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
}

.texture, .grid, .shapes, .decomp {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.controls {
	position: absolute;
	top: 0;
	right: 0;
	background: var(--color-foreground);
	display: grid;
	grid-template-columns: auto auto;
	grid-auto-rows: 2rem;

	.label {
		text-align: right;
		padding-right: var(--default-spacing);
	}

	input {
		display: inline-block;
		width: 5rem;
	}
}

.grid {
	opacity: 0.5;

	.line {
		background: var(--color-foreground);
		position: absolute;
		border-radius: 2px;
	}
}

.shapes {
	path {
		fill: rgba(0, 128, 128, 0.25);
		stroke: rgba(0, 192, 192, 0.25);
		stroke-linecap: round;
		stroke-linejoin: round;
	}

	circle {
		&.mover {
			fill: transparent;
			stroke: transparent;
			cursor: pointer;
		}

		&.dot {
			fill: rgba(0, 255, 255, 0.5);
		}
	}

	path.selected {
		fill: rgba(0, 128, 128, 0.5);
		stroke: rgba(0, 192, 192, 0.5);
	}

	.selected circle.dot {
		fill: rgba(0, 255, 255, 1);
	}
}

.decomp {
	path {
		fill: rgba(128, 0, 0, 0.25);
		stroke: rgba(255, 0, 0, 0.25);
		stroke-linecap: round;
		stroke-linejoin: round;
	}

	circle.dot {
		fill: rgba(255, 0, 0, 0.75);
	}
}