.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column
}

.row, .col {
	border-style: solid;
	border-color: var(--color-border);
	align-items: center;
	justify-content: center;
}