.tooltipIcon {
	color: var(--color-interactive-active);
	cursor: pointer;
	font-size: 1.2rem;
}

.tooltipBody {
	color: var(--color-font);
	border: var(--default-border-width) solid var(--color-border);
	padding: var(--default-spacing);
	border-radius: var(--default-border-radius);
	background: var(--color-foreground);
	white-space: pre-wrap;

	&.nonInteractive {
		pointer-events: none;
	}
}