.workbenchLayer {
  position: absolute;
  top: 0;
  left: 0;
}

.shapePath {
  fill: rgba(0, 128, 128, 0.25);
  stroke: rgba(0, 192, 192, 0.25);
  stroke-linecap: round;
  stroke-linejoin: round;

  &.isSelected {
    fill: rgba(0, 128, 128, 0.5);
    stroke: rgba(0, 192, 192, 0.5);
  }
}

.shapeNodes {
  .mover {
    fill: transparent;
    stroke: transparent;
    cursor: pointer;
  }

  .dot {
    fill: rgba(0, 255, 255, 0.5);
  }

  &.isSelected {
    .dot {
      fill: rgba(0, 255, 255, 1);
    }
  }
}
