@media(hover: hover){
	.tab:hover {
		background-color: var(--color-interactive-focus);
	}
}

.tabs {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 0 var(--default-spacing);
	gap: var(--default-spacing);
	border-bottom: var(--default-border-width) solid var(--color-border);
}

.tab {
	background-color: var(--color-interactive);
	cursor: pointer;
	padding: var(--default-spacing);
	border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
	transition: padding-bottom 0.15s linear, margin-top 0.15s linear, background-color 0.15s;
	margin-top: 0.25rem;

	&.active {
		cursor: default;
		padding-bottom: calc(var(--default-spacing) + 0.25rem);
		margin-top: 0;
		background-color: var(--color-interactive-active);
	}
}