.spinner {
	text-align: center;

	&:before {
		animation-name: rotate;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(8);
		color: var(--color-font);
	}

	&.big {
		padding: 2rem;
		font-size: 2rem;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}