.formField {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.formFieldLabel {
	padding: var(--default-border-width);
	width: 10rem;
	min-width: 10rem;
	text-align: right;

	display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;

	&.isClickable {
		cursor: pointer;
	}

	.formFieldLabelText {
		padding: 0.25rem;
	}
}