.formField {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.formFieldLabel {
  padding: var(--default-border-width) 0;
  width: 12rem;
  min-width: 12rem;
  text-align: right;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;

  &.isClickable {
    cursor: pointer;
  }

  .formFieldLabelText {
    padding: 0.25rem;
    line-height: 1.5rem;
  }
}

.formFieldInput {
  width: 15rem;
  min-width: 5rem;
}
