@use "./vars.scss" as *;

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--color-background);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	border: 0;
	margin: 0;
	padding: 0;

	* {
		border: 0;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		line-height: 1.3em;
		font-size: 0.9rem;
		font-family: 'OpenSans', Arial, Helvetica, sans-serif;
		color: var(--color-font);
	}
}