@use "./vars.scss" as *;

html {
  // 12px is divisible by 2, 3 and 4 and also a reasonable value for font-size
  // (we can add "divisible by 5" into the mix, but that would be 60px, which is a bit too much)
  font-size: 12px;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3em;
  font-size: 1.25rem;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  color: var(--color-font);
}
