.topLabelContainer {
  width: 2.5rem;
  min-width: 2.5rem;
  flex: 0 0 auto;
  position: relative;
}

.topLabel {
  transform: rotate(40deg);
  transform-origin: 100% 50%;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 7.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3em;
}

.rows {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.5rem;
  gap: 0.25rem;
  margin-top: 6rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
}

.checkboxContainer {
  width: 2.5rem;
  height: 2.5rem;
}
